.c-hamburger {
  appearance: none;
  border-radius: none;
  border: none;
  box-shadow: none;
  cursor: pointer;
  display: block;
  font-size: 0;
  height: 80px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: fixed;
  text-indent: -9999px;
  transition: background 0.2s;
  width: 80px;
  z-index: 10;

  span {
    background: $menu;
    border-radius: 50px;
    display: block;
    height: 3px;
    left: 18px;
    position: absolute;
    right: 18px;
    top: 44px;

    &::before,
    &::after {
      background-color: $menu;
      border-radius: 50px;
      content: '';
      display: block;
      height: 3px;
      left: 0;
      position: absolute;
      width: 100%;
    }

    &::before {
      top: -15px;
    }
    &::after {
      bottom: -15px;
    }
  }

  &:focus {
    outline: none;
  }
}

.c-hamburger--htx {
  left: auto;
  right: 5px;
  top: 0px;

  span {
    transition: background 0s 0.2s;

    &::before,
    &::after {
      transition-duration: 0.2s, 0.2s;
      transition-delay: 0.2s, 0s;
    }

    &::before {
      transition-property: top, transform;
    }
    &::after {
      transition-property: bottom, transform;
    }
  }
}

.c-hamburger__input:checked + .c-hamburger--htx {
  span {
    background: none;
    &::before {
      top: 0;
      transform: rotate(45deg);
    }
    &::after {
      bottom: 0;
      transform: rotate(-45deg);
    }
    &::before,
    &::after {
      transition-delay: 0s, 0.2s;
    }
  }
}

.modal {
  opacity: 0;
  position: fixed;
  text-align: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  transition: all 0.2s ease-in-out;
  visibility: hidden;
}

.modal__content {
  background-color: $menu;
  height: 300px;
  width: 200px;
  margin: 20px auto;
}

.modal a {
  color: $white;
}

.c-hamburger__input:checked ~ .modal {
  opacity: 1;
  background-color: $menu;
  visibility: visible;

  .item {
    font-weight: 700;
    a {
      transform: scale(1);
    }
    &:nth-child(1) a {
      transition-delay: 0s;
    }
    &:nth-child(2) a {
      transition-delay: 0.035s;
    }
    &:nth-child(3) a {
      transition-delay: 0.075s;
    }
    &:nth-child(4) a {
      transition-delay: 0.0995s;
    }
  }
}

.c-hamburger__input:checked ~ .c-hamburger span::after,
.c-hamburger__input:checked ~ .c-hamburger span::before {
  background-color: $white;
}

input#hamburger-menu {
  display: none;
}

nav.nav {
  .navigation {
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateX(-50%);
    -webkit-transform: translateY(-50%);
    left: 0%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
  }

  ul,
  li {
    margin: 0;
    padding: 0;
  }

  .item {
    text-transform: capitalize;
    font-size: 3em;
    list-style: none;
    font-weight: 400;
    margin: 0.4em 0;
    transition: all 0.2s ease-in-out;

    a {
      display: block;
      height: 100px;
      line-height: 100px;
      transform: scale(0.3);
      transition: all 400ms cubic-bezier(0.17, 0.67, 0.38, 1.46);
    }
  }
}
