$yellow: #FFDD67;
$lightGray: #EBEFF1;
$white: #FFF;
$menu: #ff5a79;
$black: #000;
$pink: #ff5a79;

// Emoji colors

$art: #ff7281;
$arrowUp: #00E676;
$arrowDown: #EF5350;
$apple: #f94e43;
$bookmark: #80DEEA;
$bug: #8cd842;
$checkeredFlag: #ff7281;
$construction: #FFB74D;
$fire: #ff9d44;
$greenHeart: #c5e763;
$lock: #ffce49;
$memo: #00E676;
$penguin: #fa9a3f;
$rocket: #00a9f0;
$rotatingLight: #536DFE;
$sparkles: #ffe55f;
$whiteCheckMark: #77e856;
$wrench: #FFC400;
$zap: #40C4FF;
$constructionWorker: #64B5F6;
$hammer: #FFEE58;
$tada: #f74d5f;
$lipstick: #80DEEA;
$whale: #00cbe8;
$heavyPlusSign: #00E676;
$heavyMinusSign: #EF5350;
$chartWithUpwardsTrend: #CEDAE6;
$globeWithMeridians: #E7F4FF;
$ambulance: #fb584a;
$pencil: #ffce49;
$hankey: #a78674;
$package: #fdd0ae;
$alien: #c5e763;
$truck: #ef584a;
$rewind: #56d1d8;
$twistedRightwardsArrows: #56d1d8;
$pageFacingUp: #d9e3e8;
