$yellow: #ffdd67;
$lightGray: #ebeff1;
$white: #fff;
$menu: #ff5a79;
$black: #000;
$pink: #ff5a79;

// Emoji colors

$gitmojis: (
  alembic: #7f39fb,
  alien: #c5e763,
  ambulance: #fb584a,
  animation: #ffdb3a,
  apple: #f94e43,
  arrow-down: #ef5350,
  arrow-up: #00e676,
  art: #ff7281,
  beers: #fbb64b,
  bento: #ff5864,
  bookmark: #80deea,
  boom: #f94f28,
  bug: #8cd842,
  building-construction: #ffe55f,
  bulb: #ffce49,
  busts-in-silhouette: #ffce49,
  camera-flash: #00a9f0,
  card-file-box: #c5e763,
  chart-with-upwards-trend: #cedae6,
  checkered-flag: #ff7281,
  children-crossing: #ffce49,
  clown-face: #ff7281,
  construction-worker: #64b5f6,
  construction: #ffb74d,
  egg: #77e856,
  fire: #ff9d44,
  globe-with-meridians: #e7f4ff,
  goal-net: #c7cb12,
  green-apple: #8dc448,
  green-heart: #c5e763,
  heavy-minus-sign: #ef5350,
  heavy-plus-sign: #00e676,
  iphone: #40c4ff,
  label: #cb63e6,
  lipstick: #80deea,
  lock: #ffce49,
  loud-sound: #23b4d2,
  mag: #ffe55f,
  memo: #00e676,
  mute: #e6ebef,
  ok-hand: #c5e763,
  package: #fdd0ae,
  page-facing-up: #d9e3e8,
  pencil: #ffce49,
  penguin: #fa9a3f,
  poop: #a78674,
  pushpin: #39c2f1,
  recycle: #77e856,
  rewind: #56d1d8,
  robot: #39c2f1,
  rocket: #00a9f0,
  rotating-light: #536dfe,
  see-no-evil: #8bdfe7,
  seedling: #c5e763,
  sparkles: #ffe55f,
  speech-balloon: #cedae6,
  tada: #f74d5f,
  triangular-flag-on-post: #ffce49,
  truck: #ef584a,
  twisted-rightwards-arrows: #56d1d8,
  whale: #00cbe8,
  wheel-of-dharma: #40c4ff,
  wheelchair: #00b1fb,
  white-check-mark: #77e856,
  wrench: #ffc400,
  zap: #40c4ff,
  computer-screen: #11deed,
  file-cabinet: #acadad
);
