$yellow: #FFDD67;
$lightGray: #EBEFF1;
$white: #FFF;
$menu: #ff5a79;
$black: #000;
$pink: #ff5a79;

// Emoji colors

$fire: #ff9d44;
$memo: #fff6d9;
$lock: #ffce49;
$greenHeart: #77e856;
$apple: #f94e43;
$rotatingLight: #61696d;
$bug: #8cd842;
$sparkles: ;
$construction: ;
$whiteCheckMark: ;
$penguin: #fa9a3f;
$checkeredFlag:;
$bookmark:;
$rocket: #00a9f0;
$zap:;
$wrench:;
$art:;
