.DS_Store
dist/
node_modules/
.publish/
.next
out/
coverage/
.eslintcache
*.log
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# next-pwa
public/workbox-*.js
public/workbox-*.js
public/sw.js
public/sw.js
public/*.map

# next-sitemap
public/robots.txt
public/sitemap.xml
public/sitemap.xml
