.DS_Store
dist/
node_modules/
.publish/
.next
out/
coverage/
.eslintcache
*.log
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# next-pwa
packages/website/public/workbox-*.js
packages/website/public/workbox-*.js
packages/website/public/sw.js
packages/website/public/sw.js
packages/website/public/*.map

# next-sitemap
packages/website/public/robots.txt
packages/website/public/sitemap.xml
packages/website/public/sitemap-*.xml
