doctype html
html
	head
		title gitmoji | About | An emoji guide for your commit messages.
		meta(name="author", content="Carlos Cuesta")
		meta(name="description", content="")
		meta(charset="utf-8")
		link(rel="canonical", href="https://gitmoji.carloscuesta.me/about")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(name="twitter:card", content="summary")
		meta(name="twitter:title", content="gitmoji")
		meta(name="twitter:description", content="An emoji guide for your commit messages.")
		meta(name="twitter:image:src", content="")
		meta(name="twitter:creator", content="@crloscuesta")
		meta(name="twitter:url", content="https://gitmoji.carloscuesta.me/about")
		meta(property="og:title", content="gitmoji")
		meta(name="og:description", content="An emoji guide for your commit messages.")
		meta(property="og:image",  content="")
		meta(name="og:url", content="https://gitmoji.carloscuesta.me/about")
		meta(name="robots", content="index, follow")
		link(href="css/style.css", rel="stylesheet", type="text/css")
		//-style
			include ../../dist/css/style.css
	body
		include _includes/_nav.pug
		header.header
			include ../images/gitmoji.svg
		main
			section.wrap.row.col-xs-12
				h1 About
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			h1 Contributting to gitmoji
			h1 Share
		include _includes/_footer.pug
