doctype html
html
	head
		title gitmoji | About | An emoji guide for your commit messages.
		meta(name="author", content="Carlos Cuesta")
		meta(name="description", content="")
		meta(charset="utf-8")
		link(rel="canonical", href="https://gitmoji.carloscuesta.me/about")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(name="twitter:card", content="summary")
		meta(name="twitter:title", content="gitmoji")
		meta(name="twitter:description", content="An emoji guide for your commit messages.")
		meta(name="twitter:image:src", content="https://gitmoji.carloscuesta.me/images/gitmoji.gif")
		meta(name="twitter:creator", content="@crloscuesta")
		meta(name="twitter:url", content="https://gitmoji.carloscuesta.me/about")
		meta(property="og:title", content="gitmoji")
		meta(name="og:description", content="An emoji guide for your commit messages.")
		meta(property="og:image",  content="https://gitmoji.carloscuesta.me/images/gitmoji.gif")
		meta(name="og:url", content="https://gitmoji.carloscuesta.me/about")
		meta(name="robots", content="index, follow")
		link(href="css/style.css", rel="stylesheet", type="text/css")
		//-style
			include ../../dist/css/style.css
	body
		include _includes/_icons.pug
		include _includes/_nav.pug
		header.header
			include ../images/gitmoji.svg
		main.wrap
			section
				h1 About
				p #[strong Gitmoji is an emoji guide for GitHub commit messages]. Aims to be a standarization cheatsheet - guide for using #[a(href="http://emoji.muan.co") emojis] on GitHub's commit messages.
				p #[strong Using emojis] on #[strong commit messages] provides an #[strong easy way] of #[strong identifying the purpose or intention of a commit] with only looking at the emojis used. As there are a lot of different emojis I found the need of creating a guide that can help to ...
				p This project is Open Source, that means everyone can participate, suggesting, discussing and adding new emojis. Contributting is very easy, take a look at the #[a(href="#contributting-gitmoji") contributting section] and #[a(href="https://github.com/carloscuesta/gitmoji/") the guidelines for contributting].
			section
				h1#contributting-gitmoji Contributting to gitmoji
				p Contributting to gitmoji it's a piece of cake!
		include _includes/_footer.pug
