doctype html
html
	head
		title gitmoji | About | An emoji guide for your commit messages
		link(rel="canonical", href="https://gitmoji.carloscuesta.me/about")
		style
			include ../../dist/css/style.css
		include _includes/_meta.pug
	body
		include _includes/_icons.pug
		include _includes/_nav.pug
		header.header
			include ../images/gitmoji.svg
			h2 An emoji guide for your commit messages
		main.wrap
			section
				h1 About
				p #[strong Gitmoji is an emoji guide for GitHub commit messages]. Aims to be a standarization cheatsheet - guide for using #[a(href="http://emoji.muan.co") emojis] on GitHub's commit messages.
				p #[strong Using emojis] on #[strong commit messages] provides an #[strong easy way] of #[strong identifying the purpose or intention of a commit] with only looking at the emojis used. As there are a lot of different emojis I found the need of creating a guide that can help to use emojis easier.
				p This project is Open Source, that means everyone can participate, suggesting, discussing and adding new emojis. Take a look at the #[a(href="#contributing-gitmoji") contributing section] and #[a(href="https://github.com/carloscuesta/gitmoji/blob/master/.github/CONTRIBUTING.md") the guidelines for contributing].
				div
					a.btn.btn-pink(href="https://github.com/OfficialCRUGG/updated-gitmoji/")
						svg.icon.icon-star
							use(xlink:href='#icon-star')
						| GitHub
					a.btn.btn-pink(href="https://twitter.com/intent/tweet?text=updated-gitmoji%20%E2%80%93%20%40CRU_GG%27s%20updated%20version%20of%20the%20Gitmoji%20Emoji%20Guide%20for%20Commit%20Messages%3A%20https%3A%2F%2Fgitmoji.crugg.de&original_referer=https://gitmoji.crugg.de", target="_blank")
						svg.icon.icon-twitter
							use(xlink:href='#icon-twitter')
						| Tweet
			section
				h1#contributing-gitmoji Contributing to gitmoji
				p Contributing to gitmoji it's a piece of cake 🍰! This project it's a static website built with #[i Pug, SCSS, Gulp and ES6]. All the gitmojis displayed are rendered from a JSON file. Before submitting any pull request, please follow the next steps:
				ol
					li #[a(href="https://github.com/OfficialCRUGG/updated-gitmoji/fork") fork] updated-gitmoji
					li Make your changes and send a #[a(href="https://help.github.com/articles/creating-a-pull-request/") pull request ].
				div
					a.btn.btn-pink(href="https://github.com/OfficialCRUGG/updated-gitmoji/blob/master/.github/CONTRIBUTING.md") Contributing guidelines

		include _includes/_footer.pug
	script
		include ../scripts/main.js
