doctype html
html
	head
		title gitmoji | About | An emoji guide for your commit messages.
		meta(name="author", content="Carlos Cuesta")
		meta(name="description", content="")
		meta(charset="utf-8")
		link(rel="canonical", href="https://gitmoji.carloscuesta.me/about")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(name="twitter:card", content="summary")
		meta(name="twitter:title", content="gitmoji")
		meta(name="twitter:description", content="An emoji guide for your commit messages.")
		meta(name="twitter:image:src", content="https://gitmoji.carloscuesta.me/images/gitmoji.gif")
		meta(name="twitter:creator", content="@crloscuesta")
		meta(name="twitter:url", content="https://gitmoji.carloscuesta.me/about")
		meta(property="og:title", content="gitmoji")
		meta(name="og:description", content="An emoji guide for your commit messages.")
		meta(property="og:image",  content="https://gitmoji.carloscuesta.me/images/gitmoji.gif")
		meta(name="og:url", content="https://gitmoji.carloscuesta.me/about")
		meta(name="robots", content="index, follow")
		link(href="css/style.css", rel="stylesheet", type="text/css")
		//-style
			include ../../dist/css/style.css
	body
		include _includes/_icons.pug
		include _includes/_nav.pug
		header.header
			include ../images/gitmoji.svg
		main.wrap
			section
				h1 About
				p Gitmoji is an emoji guide for GitHub commit messages.
			section
				h1 Contributting to gitmoji
				p You can contribute to gitmoji!
		include _includes/_footer.pug
