doctype html
html
	head
		title gitmoji | An emoji guide for your commit messages
		link(rel="canonical", href="https://gitmoji.carloscuesta.me")
		style
			include ../../dist/css/style.css
		include _includes/_meta.pug
	body.emoji-container
		include _includes/_icons.pug
		include _includes/_nav.pug
		header.header
			include ../images/gitmoji.svg
			h2 An emoji guide for your commit messages
			div.header-buttons
				a.btn.btn-pink(href="https://github.com/carloscuesta/gitmoji/")
					svg.icon.icon-star
						use(xlink:href='#icon-star')
					| GitHub
				a.btn.btn-pink(href="https://twitter.com/intent/tweet?text=gitmoji%20%E2%80%93%20An%20%23emoji%20guide%20for%20your%20commit%20messages%20by%20%40crloscuesta%20%F0%9F%98%8D%F0%9F%98%9C&url=https://gitmoji.carloscuesta.me", target="_blank")
					svg.icon.icon-twitter
						use(xlink:href='#icon-twitter')
					| Tweet
		main.wrap
			.row.around-xs
				each gitmoji in emojis.gitmojis
					article.emoji.col-xs-12.col-sm-6.col-md-3
						.emoji-card
							header(class=gitmoji.name+' emoji-header')
								span.emoji-icon.gitmoji=gitmoji.emoji
							.emoji-info
								code=gitmoji.code
								p=gitmoji.description
		include _includes/_footer.pug
	script
		include ../scripts/main.js
