.carbonContainer {
  height: 100px;
}

:global(#carbonads) {
  display: block;
  overflow: hidden;
  max-width: 728px;
  border-radius: 4px;
  position: relative;
  box-shadow: 0 1px 2px 0 var(--cardShadow);
}

:global(#carbonads > span) {
  display: block;
}

:global(#carbonads a) {
  color: inherit;
  text-decoration: none;
}

:global(#carbonads a:hover) {
  color: inherit;
  animation: none;
}

:global(.carbon-wrap) {
  display: flex;
  align-items: center;
}

:global(.carbon-img) {
  display: block;
  margin: 0;
  line-height: 1;
}

:global(.carbon-img img) {
  display: block;
  height: 90px;
  width: auto;
}

:global(.carbon-text) {
  display: block;
  padding: 0 1em;
  line-height: 1.35;
  text-align: center;
  width: 100%;
  font-size: 14px;
}

:global(.carbon-poweredby) {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 6px 10px;
  background: var(--carbonAdBadgeBackground);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 600;
  font-size: 8px;
  border-top-left-radius: 4px;
  line-height: 1;
}
