@import '_includes/_vars';
@import '_includes/_flexbox';
@import '_includes/_menu';

html, body {
	margin: 0;
	padding: 0;
	font-size: 16.5px;
	font-family: Avenir;
}

a {
	transition: color .5s ease-in-out;
	text-decoration: none;

	&:hover {
		animation: zomg .5s infinite;
	}
}

@keyframes zomg {
  0%, 100% { color: #7ccdea; }
  16%      { color: #0074D9; }
  32%      { color: #2ECC40; }
  48%      { color: #FFDC00; }
  64%      { color: #B10DC9; }
  80%      { color: #FF4136; }
}

code {
	padding: 1px 3px;
	font-size: .85em;
	white-space: pre-wrap;
	border: 1px solid #E3EDF3;
	border-radius: 2px;
	font-family: Consolas, Inconsolata, monospace, sans-serif;
	background: #F7FAFB;
	transition: color .2s ease-out;

	&:hover {
		animation: zomg .5s infinite;
	}
}

.header {
	background-color: $yellow;
	padding: 4em;
}

.gitmoji-logo {
	width: 100%;
	height: 90px;
}

.wrap {
	max-width: 1200px;
	margin: 0 auto;
}

main.wrap {
	padding: 3.5em 2em;
}

.footer {
	padding: 1.5em;
	background-color: $lightGray;

	nav {
		-webkit-box-pack: end;
		-ms-flex-pack: end;
		justify-content: flex-end;
		text-align: end;

		a:after {
			content: "·";
			color: #000!important;
			margin: 0 .75em;
		}

		a:last-child:after {
			content: "";
		}
	}
}

.emoji {
	display: flex;

	&-card {
		background-color: $white;
		margin: 1em 0;
		flex: 1;
		box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
		transition: all .25s ease-out;
		border-radius: 2px;

		&:hover {
			box-shadow: 0 10px 20px 0 rgba(168, 182, 191, .6)
		}
	}

	&-icon {
		img {
			width: 100%;
			height: 100px;
			padding: 1em;
		}
	}

	&-info {
		padding: 2em 4em;

		p {
			text-align: center;
		}
	}

	&-data {
		display: flex;
		align-items: center;
		justify-content: center;

		.icon {
			margin: 0 5px;
		}
	}
}

@media(max-width: 768px) {
	footer nav, footer h3 {
		justify-content: center!important;
		text-align: center!important;
	}
}
