footer.footer
	.wrap
		.row.middle-xs
			.col-sm-6.made-with-love
				h3
					| Made with
					svg.icon.icon-heart
						use(xlink:href='#icon-heart')
					| by
					a(href='https://carloscuesta.me')  Carlos Cuesta

			.col-sm-6.footer-nav
				nav
					a(href="/about") About
					a(href="https://github.com/carloscuesta/gitmoji") GitHub
