nav.nav.row.middle-xs
	input#hamburger-menu.c-hamburger__input(type='checkbox')
	label.c-hamburger.c-hamburger--htx(for='hamburger-menu')
		span
	.modal
		.modal-content
			ul.navigation
				li.item
					a(href='https://carloscuesta.gitmoji.me', onmousedown="ga('send', 'event', 'Menu', 'Gitmoji');") Home
				li.item
					a(href='/about', onmousedown="ga('send', 'event', 'Menu', 'About');") About
				li.item
					a(href='https://github.com/carloscuesta/gitmoji', onmousedown="ga('send', 'event', 'Menu', 'GitHub');") GitHub
