.emoji {
  display: flex;
  box-sizing: border-box;
}

.card {
  background-color: var(--cardBackground);
  border-radius: 4px;
  box-shadow: 0 1px 2px 0 var(--cardShadow);
  flex: 1;
  margin: 1em 0;
  transition: all 0.25s ease-out;
  text-align: center;
  overflow: hidden;
}

.cardList {
  display: flex;
}

.cardList .gitmoji {
  font-size: 3.5em;
}

.cardList .cardHeader {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
}

.cardList .gitmojiInfo {
  text-align: left;
  padding: 1rem;
}

.cardList .gitmojiInfo p {
  padding: 0;
  margin: 0;
  padding-top: 0.5rem;
}

.card:hover {
  box-shadow: 0 10px 20px 0 var(--cardShadow);
  transform: translateY(-1px);
}

@media (prefers-color-scheme: dark) {
  .card:hover {
    box-shadow: none;
    background-color: #3b3b3b;
  }
}

.cardHeader {
  align-self: flex-start;
  padding-top: 2em;
  padding-bottom: 0.85em;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.gitmoji,
.gitmojiCode {
  background-color: transparent;
  border: none;
  font: inherit;
  padding: 0;
}

.gitmoji {
  border-radius: none;
  cursor: pointer;
  display: inline-block;
  font-size: 5em;
  font-family: 'Apple Color Emoji', 'Segoe UI Emoji', 'Noto Color Emoji',
    'Segoe UI Symbol', 'Android Emoji', 'EmojiSymbols';
}

.gitmoji:hover,
.gitmoji:focus {
  animation-name: bounce;
  animation-duration: 0.5s;
}

.gitmojiCode {
  border-radius: 4px;
  transition-duration: 0.3s;
  cursor: pointer;
}

.gitmojiInfo {
  padding: 1.5em;
  word-break: break-all;
  color: var(--emojiCodeText);
}

.gitmojiInfo p {
  color: var(--cardText);
  word-break: normal;
}

@media (max-width: 768px) {
  .gitmoji,
  .cardList .gitmoji {
    font-size: 50px;
  }

  .cardHeader {
    padding-bottom: 1em;
  }
}
