.container {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5rem;
  margin-top: 1.5rem;
}

.inputWrapper {
  flex: 1;
  display: flex;
  border-radius: 4px;
  border: 0;
  box-shadow: 0 2px 4px 0 var(--cardShadow);
  margin-right: 1rem;
}

.searchInput {
  background-color: transparent;
  border: none;
  flex-grow: 1;
  font-size: 1rem;
  padding: 1rem;
}

.kbd {
  align-items: center;
  border-radius: 3px;
  border: solid 1px #999;
  color: #b8b8b8;
  display: flex;
  font-family: system-ui;
  margin: 0.5rem 0.5rem 0.5rem -4rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

@media (prefers-color-scheme: dark) {
  .searchInput {
    background-color: var(--cardBackground);
    color: var(--text);
  }
}

@media (max-width: 430px) {
  .searchInput {
    margin: 0;
    margin-top: 0.5rem;
  }

  .container {
    flex-direction: column-reverse;
    align-items: stretch;
  }

  .kbd {
    display: none;
  }
}
