.searchInput {
  border-radius: 4px;
  border: 0;
  box-shadow: 0 2px 4px 0 var(--cardShadow);
  flex: 1;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  margin-top: 1.5rem;
  outline: none;
  padding: 1rem;
}

.container {
  display: flex;
}
