.button {
  display: flex;
  align-items: center;
  border-radius: 4px;
  border: none;
  color: var(--cardText);
  cursor: pointer;
  background-color: var(--cardBackground);
  box-shadow: 0 2px 4px 0 var(--cardShadow);
  font-size: 16px;
  height: 48px;
  justify-content: center;
  margin: 8px;
  width: 48px;
}

.button svg {
  margin: 0;
}

@media (max-width: 568px) {
  .button {
    margin-left: 0;
  }
}
